/**
 * FilePond Custom Styles
 */
.filepond--drop-label {
    color: #4c4e53;
}

.filepond--label-action {
    text-decoration-color: #babdc0;
}

.filepond--panel-root {
    border-radius: 2em;
    background-color: #edf0f4;
    height: 1em;
}

.filepond--item-panel {
    background-color: #595e68;
}

.filepond--drip-blob {
    background-color: #7f8a9a;
}

.filepond--credits{

}

.filepond--root {
background:none;
    .filepond--browser {

    }

    .filepond--drop-label {

        #filepond--drop-label-sxd40ulhe {

            .filepond--label-action {

            }
        }
    }

    .filepond--list-scroller {

        .filepond--list {

            .filepond--item {

                .filepond--file-wrapper {

                    legend {

                    }

                    .filepond--file {

                        .filepond--file-action-button {

                            span {

                            }
                        }

                        .filepond--processing-complete-indicator {

                            svg {

                                path {

                                }
                            }
                        }

                        .filepond--file-info {

                            .filepond--file-info-main {

                            }

                            .filepond--file-info-sub {

                            }
                        }

                        .filepond--file-status {

                            .filepond--file-status-main {

                            }

                            .filepond--file-status-sub {

                            }
                        }

                        .filepond--progress-indicator {

                            svg {

                                path {

                                }
                            }
                        }

                        .filepond--image-preview-wrapper {

                            .filepond--image-preview-overlay {

                                svg {

                                    defs {

                                        #gradient-1 {

                                            stop {

                                            }
                                        }

                                        #mask-1 {

                                            rect {

                                            }
                                        }
                                    }

                                    rect {

                                    }
                                }
                            }

                            .filepond--image-preview {

                                .filepond--image-clip {

                                    .filepond--image-canvas-wrapper {

                                        .filepond--image-bitmap {

                                            canvas {

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .filepond--panel {

                    .filepond--panel-top {

                    }

                    .filepond--panel-center {

                    }

                    .filepond--panel-bottom {

                    }
                }
            }
        }
    }

    .filepond--panel {

        .filepond--panel-top {

        }

        .filepond--panel-center {

        }

        .filepond--panel-bottom {

        }
    }

    .filepond--assistant {

    }

    .filepond--data {

        input {

        }
    }

    .filepond--drip {

    }
}

.customForm .filepond--drop-label {
    border-radius: 10px;
    background: rgba(255,255,255,0.7);

    label{
        font-size:0.875rem;
        font-weight:400;
    }
}
.filepond--panel,.filepond--drip{
    background: #ffffff;
}
.filepond--drop-label {
    background: #ffffff;
}

.filepond--label-action {
    text-decoration-color: #babdc0;
}

.filepond--panel-root {
    background-color: #edf0f4;
}



.filepond--root {
    width:170px;
    margin: 0 auto;
}
